html {
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 60px;
    font-family: 'Noto Sans', Georgia, Helvetica, sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.table thead th.ASC:after,
.table thead th.DESC:after
{
    content: '↑';
    color: red;
    font-weight: bold;
   padding: 3px;
}
.table thead th.DESC:after {
    content: '↓';
}


#searchForm label{
    color:#fff;
    padding-right: 5px;
}
#searchForm .form-control{
    padding: 5px;
}

.pagination li.active .page-link{
    cursor: default;
}







