html {
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 60px;
    font-family: 'Noto Sans', Georgia, Helvetica, sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.table thead th.ASC:after,
.table thead th.DESC:after
{
    content: '↑';
    color: red;
    font-weight: bold;
   padding: 3px;
}
.table thead th.DESC:after {
    content: '↓';
}


#searchForm label{
    color:#fff;
    padding-right: 5px;
}
#searchForm .form-control{
    padding: 5px;
}

.pagination li.active .page-link{
    cursor: default;
}

.container-fluid{
    max-width: 1400px;
}

#thumbnail, .avatar,
.thumbnail span img
{
    border-radius: 15px;
}

.thumbnail{
    position: relative;
    z-index: 0;
}

.thumbnail:hover{
    background-color: transparent;
    z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
    position: absolute;

    background-color: transparent;
    padding: 5px;
    left: 0px;
    border: 1px dashed gray;
    visibility: hidden;
    color: black;
    text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
}
.thumbnail:hover{ /*CSS for enlarged image on hover*/

    border: 0px solid red;


}
.thumbnail:hover span{ /*CSS for enlarged image on hover*/
    visibility: visible;
    top:10px;
    border: 0px solid red;
    left: 10px; /*position where enlarged image should offset horizontally */

}


#loginform{

    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 60%;

}


body{
    background-color: #67be4b;
}

.navbar-login
{
    width: auto;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}